* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    background-color: #0020F4;
    padding-bottom: 65px;
}
.div-title{
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding-top: 40px;
}
header nav a {
    color: #ffffff;
    font-size: 16px;
    margin: 18px;
    font-family: HelveticaNeue;
  }
  nav,
  nav ul,
  nav li {
    display: flex;
    align-items: center;
  }
  a {
    text-decoration: 0;
  }
  ul {
    list-style: 0;
  }
  .contact-title{
     display: flex;
     vertical-align: middle;
     padding: 19px 81px;
     color: #171717;
     background-color: #ffffff;
     border-radius: 28px;
     font-size: 16px;
     font-family: HelveticaNeueBold;
  }
  .line-title{
    text-decoration-line: underline;
  }
  main {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: -50px;
  }
  .first-building{
    max-width: 1195;
    height: 600px;
    border-radius: 28px;
  }
  .text-section{
    color:#171717 ;
    font-size: 28px;
    font-family:HelveticaNeueBold;
    margin-top: 30px;
    margin-bottom: 60px;
  }
  .buildings{
    display: flex;
    gap: 25px;
  }
  .image-building{
    max-width:219px ;
    max-height:219 px ;
    border-radius:15px ;
  }
 .textsection2{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 60px;
 }
 p {
    max-width: 951px;
    margin-top: 18px;
    color: #171717;
    font-size: 16px;
    font-family: HelveticaNeue;
 }
 .information {
    padding: 18px 67px;
    border-radius: 28px;
    background-color: #0A22F4;
    color: #ffffff;
    margin-top: 60px;
    font-family:HelveticaNeueBold ;
 }
 .information{
    margin-bottom: 150px;
 }
 footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #0A22F4;
 }
 .footer-cotainer{
    display: flex;
    justify-content: space-evenly;
 }
 .contact {
    color: #ffffff;
    font-size: 32px;
    margin-top: 275px;
 }
 .footer-text {
    width: 463px;
    color: #ffffff;
    font-size: 16px;
    margin-top:30px ;
    margin-bottom: 58px;
 }
 iframe{
    width: 463px;
    height: 197px;
 }
 .map {
    border-radius: 15px;
    box-shadow: -10px 10px #ffffff; 
 }
 .phone-email {
    width: 100%;
    display: flex;
    margin-top: 60px;
 }
 span {
    display: flex;
    align-items: center;
    height: 70px;
    font-size: 22px;
    color: #ffffff;
 }
 .left-email {
    margin-left: 98px;
 }
 .phone{
    border-radius: 50%;
    padding: 20px;
    background-color: #ffffff;
    margin-right: 20px;
 }
 .email {
    border-radius: 50%;
    padding: 20px;
    background-color: #ffffff;
    margin-right: 20px;
 }
 .right-side{
    margin-top: 373px;
    display: flex;
    flex-direction: column;
    right: 240px;
 }
 form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
 }
 label{
    font-size: 16px;
    color: #ffffff;
 }
 input{
    width: 463px;
    height: 40px;
 }
 .inputs{
    border: 0px;
    background-color: #0A22F4;
    outline: none;
    color: #ffffff;
    font-size: 28px;
    border-bottom: 1px solid #ffffff;
    margin-top: 40px;
 }
 .send {
    padding: 18px 36px;
    background-color: #ffffff;
    color: #171717;
    border-radius:28px;
    border: 0px;
    font-size: 16px;
 }
 .bottom {
    width: 80%;
    margin-top: 41px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration-line: none;
 }
 .bottom-text {
    color: #ffffff;
    font-size: 13px;
 }
 .hurt {
    margin: 0px 10px 0px 15px;
 }
 .twesmarb{
    margin-left: 30px;
 }